footer {
	margin-top: 2rem;
	position: fixed;
	height: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	color: white;
}

.footerComplete {
	padding: 0;
	margin: 0;
}

.footerHolyBe {
	background-color: rgba(145, 124, 255, 1);
	text-align: center;
	height: 3rem;
	margin: 0;
	line-height: 3rem;
}

.footerLcc {
	background-color: rgba(0, 0, 0, 1);
	text-align: center;
	height: 3rem;
	margin: 0;
	line-height: 3rem;
}
